        /* Estilos para los contenedores y enlaces */
		
		.Tiempos-liturgicos{
			display: flex; /* Utilizar Flexbox para disposición flexible */
			color: black;
            justify-content: center; /* Centrar los elementos horizontalmente */
            align-items: center; /* Centrar los elementos verticalmente */
            font-size: 18px; /* Tamaño de fuente */
            margin-bottom: 10px; /* Margen inferior entre contenedores */
        }

        .number-container {
			display: none; /* Utilizar Flexbox para disposición flexible */
            justify-content: center; /* Centrar los elementos horizontalmente */
            align-items: center; /* Centrar los elementos verticalmente */
            font-size: 18px; /* Tamaño de fuente */
            margin-bottom: 10px; /* Margen inferior entre contenedores */
			text-align: center;
        }

		.week-link {
            text-decoration: none; /* Sin subrayado */
            color: white; /* Color gris */
			font-weight: bold;
			background-color: #2F365F;
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
			font-family: "Comic Sans MS";
            width: 8%; /* Ancho fijo para cada botón */
			font-size: 1.2em;
        }

		.disabled-link	{
            text-decoration: none; /* Sin subrayado */
            color: #DEDEDE; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 6%; /* Ancho fijo para cada botón */
        }


		.day-link {
            text-decoration: none; /* Sin subrayado */
            color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 5%; /* Ancho fijo para cada botón */
        }

		.tiempo-link {
            text-decoration: none; /* Sin subrayado */
            color: #888; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 60px; /* Ancho fijo para cada botón */
        }

		.adviento-css{
			text-decoration: none; /* Sin subrayado */
            background-color: purple;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 6%; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		.navidad-css{
			text-decoration: none; /* Sin subrayado */
            background-color: red;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 6%; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		
		.ordinario-css{
			text-decoration: none; /* Sin subrayado */
            background-color: green;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 6%; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}

		.cuaresma-css{
			text-decoration: none; /* Sin subrayado */
            background-color: purple;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 6%; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}

		.pascual-css{
			text-decoration: none; /* Sin subrayado */
            background-color: white;
			color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 6%; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		
		
		

        .number-link {
            text-decoration: none; /* Sin subrayado */
            color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 50px; /* Ancho fijo para cada botón */
        }

        .boton-link {
            text-decoration: none; /* Sin subrayado */
            color: Black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: 50px; /* Ancho fijo para cada botón */
        }
        
        .day-container {
            display: none;
			cursor: pointer;
			border: 1px solid #ccc;
			border-radius: 5px; /* Bordes redondeados */
			text-align: center;
            justify-content: center;
            margin-top: 20px;
			}
        
        /* Mostrar el contenedor de días cuando el enlace específico es seleccionado */
        :target {
            display: block;
        }