        /* Estilos para los contenedores y enlaces */


		a {
			text-decoration: none;
		}
		.centrar{
			justify-content: center;
			align-items:center;
			text-align: center;
		}
		.Tiempos-liturgicos{
			display: flex; /*Utilizar Flexbox para disposición flexible */
			color: black;
            justify-content: center; /* Centrar los elementos horizontalmente */
            align-items: center; /* Centrar los elementos verticalmente */
           /* font-size: 1.0em; /* Tamaño de fuente */
            /* margin-bottom: 1%; /* Margen inferior entre contenedores */
        }

        .number-container {
			display: none; /* Utilizar Flexbox para disposición flexible */
            justify-content: center; /* Centrar los elementos horizontalmente */
            align-items: center; /* Centrar los elementos verticalmente */
           /* font-size: 18px; /* Tamaño de fuente */
            margin-bottom: 10px; /* Margen inferior entre contenedores */
			text-align: center;
        }

		.week-link {
            text-decoration: none; /* Sin subrayado */
            color: white; /* Color gris */
			font-weight: bold;
			background-color: #2F365F;
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
			font-family: "Comic Sans MS";
            width: auto; /* Ancho fijo para cada botón */
			/*font-size: 1.2em; */
        }
			.week-link:hover {
				background-color:#01B7EF;
				text-decoration: none;
				Color:white;
	
				}
				
				.sday-lnk {
            text-decoration: none; /* Sin subrayado */
            color: black; /* Color gris */
			
			background-color: #01B7EF;
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
			font-family: "Comic Sans MS";
            width: auto; /* Ancho fijo para cada botón */
			/*font-size: 1.2em; */
        }
			.sday-lnk:hover {
				background-color: white;
				text-decoration: none;
				Color:black;
	
				}
				

		.disabled-link	{
            text-decoration: none; /* Sin subrayado */
            color: #DEDEDE; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
        }
		.disabled-link:hover{
		background-color:#01B7EF;
		text-decoration: none; 	
		}


		.day-link {
            text-decoration: none; /* Sin subrayado */
            color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
			cursor: pointer;
            width: auto; /* Ancho fijo para cada botón */
			text-decoration: none; 
        }
		
		.day-link:hover {
		background-color:#01B7EF;
		text-decoration: none; 
		
		}

		.tiempo-link {
            text-decoration: none; /* Sin subrayado */
            color: #888; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
        }

/* ADVIENTO*/
		.adviento-css{
			text-decoration: none; /* Sin subrayado */
            background-color: purple;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		.adviento-css:hover{
			background:white;
			Color:purple;
		}
		
				.advientox-css{
			text-decoration: none; /* Sin subrayado */
            background-color: white;
			color: purple; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 15px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
			font-size:20px;

		}
		.advientox-css:hover{
			background:purple;
			Color:white;
		}

/* ADVIENTO*/

/* NAVIDAD*/

		.navidad-css{
			text-decoration: none; /* Sin subrayado */
            background-color: #AD0000;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		.navidad-css:hover{
			background:white;
			Color:#AD0000;
		}

		.navidadx-css{
			text-decoration: none; /* Sin subrayado */
            background-color: white;
			color: #AD0000; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 15px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
			font-size:20px;

		}
		.navidadx-css:hover{
			background:#AD0000;
			Color:white;
		}


/* NAVIDAD*/

		
		.boton-margin-left-5
		{
			margin-left:5px;			
		}

		/* ORDINARIO */
		.ordinario-css{
			text-decoration: none; /* Sin subrayado */
            background-color: green;
			color: white; /* Color white */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		.ordinario-css:hover{
			background:white;
			Color:green;
		}

		.ordinariox-css{
			text-decoration: none; /* Sin subrayado */
            background-color: white;
			color: green; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 15px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
			font-size:20px;
		}
		
		.ordinariox-css:hover{
			background:green;
			Color:white;
		}
		/* ORDINARIO */

		/* CUARESMA */
		.cuaresma-css{
			text-decoration: none; /* Sin subrayado */
            background-color: purple;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		.cuaresma-css:hover{
			background:white;
			Color:purple;
		}
		.cuaresmax-css{
			text-decoration: none; /* Sin subrayado */
            background-color: white;
			color: purple; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 15px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
			font-size:20px;
		}
		.cuaresmax-css:hover{
			background:purple;
			Color:white;
		}
		/* CUARESMA */
		
		/* PASCUA */
		.pascual-css{
			text-decoration: none; /* Sin subrayado */
            background-color: #00A2E8;
			color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		.pascual-css:hover{
			background:white;
		}
		.pascualx-css{
			text-decoration: none; /* Sin subrayado */
            background-color: white;
			color: #00A2E8; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 15px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
			font-size:20px;
		}
		.pascualx-css:hover{
			background:#00A2E8;
			Color:white;
		}
		/* PASCUA */

		/* SANTOS*/

		.santosx-css{
			text-decoration: none; /* Sin subrayado */
            background-color: white;
			color: #00A2E8; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 15px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
			font-size:20px;

		}
		.santosx-css:hover{
			background:#00A2E8;  /* */ 
			Color:white;
		}

		/* SANTOS*/


        .number-link {
            text-decoration: none; /* Sin subrayado */
            color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
        }

        .boton-link {
            text-decoration: none; /* Sin subrayado */
            color: Black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
        }
        
        .day-container {
            display: none;
			cursor: pointer;
			border: 1px solid #ccc; /* */
			border-radius: 5px; /* Bordes redondeados */
			text-align: center;
            justify-content: center;
            margin-top: 20px;
            width: auto; /* Ancho fijo para cada botón */
			}

		.noDisplay {
			display: none;
		}     
        /* Mostrar el contenedor de días cuando el enlace específico es seleccionado */
        :target {
            display: block;
        }
		
/* Estilos para pantallas pequeñas (móviles) */
@media only screen and (max-width: auto) {
  /* Agrega estilos específicos para dispositivos móviles aquí */
}

 .footnote {
            font-size: 1.0em;
			text-decoration: none;
			color: #1ea6ef;
			text-align: right;
			font-family: Bradley Hand ITC;
        }
	a {
		text-decoration: none;
	}
	
	.t-adviento{
            text-decoration: none; /* Sin subrayado */
            color: black; /* Color gris */
			font-weight: bold;
			background-color: white;
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
			font-family: "Comic Sans MS";
            width: auto; /* Ancho fijo para cada botón */
			/*font-size: 1.2em; */	
	}
	
		.wday{
            text-decoration: none; /* Sin subrayado */
            color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
			/*cursor: pointer;
            width: auto; /* Ancho fijo para cada botón */
			text-decoration: none; 
        }

        .dc{  		/*        .dc= .day-container  */
            /* display: none; */
			/*cursor: pointer;	/* */
			border: 1px solid #ccc; /* */
			border-radius: 5px; /* Bordes redondeados */
			text-align: center;
            justify-content: center;
            margin-top: 20px;
            width: auto; /* Ancho fijo para cada botón */
			}

		.t-liturgico{
            text-decoration: none; /* Sin subrayado */
            color: white; /* Color blanco */
            margin: auto; /* Margen alrededor de cada número */
            padding: 12px 12px; /* Padding interno */
            /*border: 1px solid #ccc; /* Borde gris */
            /*border-radius: 2px; /* Bordes redondeados */
            /*transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
			font-family: "Comic Sans MS";
			font-size: 35px;
            /*width: auto; /* Ancho fijo para cada botón */
			text-decoration: none; 
        }

	.fsfondo{	/*Fiesta de los Santos Fondo*/
		background-color:  rgb(24, 114, 199);
		text-decoration: none;
		color: white;
		padding: 12px 12px;
		text-align: center;
		font-family: "Comic Sans MS";
		font-size: 35px;
		text-decoration: none; 
		}

	.tofondo{	/*Tiempo Ordinario Fondo*/
		background-color: green;
		text-decoration: none;
		color: white;
		padding: 12px 12px;
		text-align: center;
		font-family: "Comic Sans MS";
		font-size: 35px;
		text-decoration: none; 
	}
	
	.tafondo{	/*Tiempo Adviento Fondo*/
		background-color: purple;
		text-decoration: none;
		border-color: rgb(44, 1, 44);
		color: white;
		padding: 12px 12px;
		text-align: center;
		font-family: "Comic Sans MS";
		font-size: 35px;
		text-decoration: none;
	}
	.tafondo:hover{
		color:rgba(241, 241, 48, 0.886); 
		text-decoration: none;
	}

	.tcfondo{	/*Tiempo Cuaresma Fondo*/
		background-color: purple;
		text-decoration: none;
		color: white;
		padding: 12px 12px;
		text-align: center;
		font-family: "Comic Sans MS";
		font-size: 35px;
		text-decoration: none; 
	}

	.tpfondo{	/*Tiempo Pascua Fondo*/
		background-color:  rgb(24, 114, 199);
		text-decoration: none;
		color: white;
		padding: 12px 12px;
		text-align: center;
		font-family: "Comic Sans MS";
		font-size: 35px;
		text-decoration: none; 
	}

	.tnfondo{	/*Tiempo Navidad Fondo*/
		background-color: #ad0000;
		text-decoration: none;
		border-color: rgb(44, 1, 44);
		color: white;
		padding: 12px 12px;
		text-align: center;
		font-family: "Comic Sans MS";
		font-size: 35px;
		text-decoration: none; 
	}
	.tnfondo:hover{
		color: #008F39
		/* color:rgba(56, 195, 21, 0.955); */
	}

	.db-purple {
		color: black;
		background-color: white;
		border-color: purple;
		border: 1px solid purple;
		border-radius: 5px;
		margin: 5px;
		padding: 6px 12px;

		}

	.db-purple:hover {
		color: white;
		background-color: purple;
		border-color: green;
		text-decoration: none;
		}

		/* RED */

		.db-red {
			color: black;
			background-color: white;
			border-color: #ad0000;
			border: 1px solid #ad0000;
			border-radius: 5px;
			margin: 5px;
			padding: 6px 12px;
	
			}
	
		.db-red:hover {
			color: white;
			background-color: #ad0000;
			text-decoration: none;
			}
		
		.wcolor {
			color: white;
		}

		.wcolora {
			color: white;
		}

		.wcolora:hover {
			color: rgb(28, 175, 17);
			text-decoration: none;
		}

		
		.wcolorto {
			color: white;
		}

		.wcolorto:hover {
			color: rgb(64, 161, 225);
			text-decoration: none;
		}

		.wcolorc {
			color: white;
		}

		.wcolorc:hover {
			color: rgb(250, 250, 51);
			text-decoration: none;
		}



		.wcolorp {
			color: white;
		}

		.wcolorp:hover {
			color: #00A2E8;
			text-decoration: none;
		}

		
		
		.wcsantos {
			color: white;
		}

		.wcsantos:hover {
			color: #00A2E8;
			text-decoration: none;
		}


