        /* Estilos para los contenedores y enlaces */


		a p{
			text-decoration: none;
		}
		.centrar{
			justify-content: center;
			align-items:center;
			text-align: center;
		}
		.Tiempos-liturgicos{
			display: flex; /*Utilizar Flexbox para disposición flexible */
			color: black;
            justify-content: center; /* Centrar los elementos horizontalmente */
            align-items: center; /* Centrar los elementos verticalmente */
           /* font-size: 1.0em; /* Tamaño de fuente */
            /* margin-bottom: 1%; /* Margen inferior entre contenedores */
        }

        .number-container {
			display: none; /* Utilizar Flexbox para disposición flexible */
            justify-content: center; /* Centrar los elementos horizontalmente */
            align-items: center; /* Centrar los elementos verticalmente */
           /* font-size: 18px; /* Tamaño de fuente */
            margin-bottom: 10px; /* Margen inferior entre contenedores */
			text-align: center;
        }

		.week-link {
            text-decoration: none; /* Sin subrayado */
            color: white; /* Color gris */
			font-weight: bold;
			background-color: #2F365F;
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
			font-family: "Comic Sans MS";
            width: auto; /* Ancho fijo para cada botón */
			/*font-size: 1.2em; */
        }
			.week-link:hover {
				background-color:#01B7EF;
				text-decoration: none;
				Color:white;
	
				}

		.disabled-link	{
            text-decoration: none; /* Sin subrayado */
            color: #DEDEDE; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
        }
		.disabled-link:hover{
		background-color:#01B7EF;
		text-decoration: none; 	
		}


		.day-link {
            text-decoration: none; /* Sin subrayado */
            color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
			cursor: pointer;
            width: auto; /* Ancho fijo para cada botón */
			text-decoration: none; 
        }
		
		.day-link:hover {
		background-color:#01B7EF;
		text-decoration: none; 
		
		}

		.tiempo-link {
            text-decoration: none; /* Sin subrayado */
            color: #888; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
        }

		.adviento-css{
			text-decoration: none; /* Sin subrayado */
            background-color: purple;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		.navidad-css{
			text-decoration: none; /* Sin subrayado */
            background-color: red;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}
		
		.boton-margin-left-5
		{
			margin-left:5px;			
		}
		
		.ordinario-css{
			text-decoration: none; /* Sin subrayado */
            background-color: green;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}

		.cuaresma-css{
			text-decoration: none; /* Sin subrayado */
            background-color: purple;
			color: white; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}

		.pascual-css{
			text-decoration: none; /* Sin subrayado */
            background-color: white;
			color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
			font-family: "Comic Sans MS";
		}

        .number-link {
            text-decoration: none; /* Sin subrayado */
            color: black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
        }

        .boton-link {
            text-decoration: none; /* Sin subrayado */
            color: Black; /* Color gris */
            margin: 5px; /* Margen alrededor de cada número */
            padding: 8px 12px; /* Padding interno */
            border: 1px solid #ccc; /* Borde gris */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
            text-align: center; /* Centrar el texto */
            width: auto; /* Ancho fijo para cada botón */
        }
        
        .day-container {
            display: none;
			cursor: pointer;
			border: 1px solid #ccc; /* */
			border-radius: 5px; /* Bordes redondeados */
			text-align: center;
            justify-content: center;
            margin-top: 20px;
            width: auto; /* Ancho fijo para cada botón */
			}

		.noDisplay {
			display: none;
		}     
        /* Mostrar el contenedor de días cuando el enlace específico es seleccionado */
        :target {
            display: block;
        }
		
/* Estilos para pantallas pequeñas (móviles) */
@media only screen and (max-width: auto) {
  /* Agrega estilos específicos para dispositivos móviles aquí */
}
