body, div {
  font-family: Verdana, Arial;
  font-size: 1.1em;
  background-color: #ffffcc;
}

a:link {
  text-decoration: none;
  color: #0000ff;
}

a:visited {
  text-decoration: none;
  color: #0000ff;
}

a:hover {
  text-decoration: none;
  color: red;
}

a:active {
  text-decoration: none;
}

table, th, td {
  border: 1px solid black;
  font-size: 1.2em;
  text-align: center;
  background-color: #ccccc2;
  background-image: url('https://liturgiadelashoras.github.io/sync/images/fnd.jpg');
  background-repeat: repeat-x;
  visibility: visible;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}

.titulo {
  border: 1px solid black;
  color: #ffffff;
  font-size: 1.2em;
  background-color: #00bbff;
  background-image: none;
  border: none;
  visibility: visible;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}

/* CSS para posicionar pie de pagina y subir y bajar */
  .topDown,
  .scroll-to-bottom {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
  }

    .Top,
  .scroll-to-bottom {
    position: fixed;
    right: 1%;
    z-index: 9999;
  }


  .scroll-link {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;
  }

  .topDown {
    right: 20px;
  }

  .scroll-to-bottom {
    right: 70px;
  }


  .saudio {
    background-color: #f1f3f4;
    width: 100%; 
  }

/* otros CSS del html */
