.radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.radio-label input[type="radio"] {
    display: none; /* Oculta el input radio nativo */
}

.radio-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #333;
    margin-right: 8px;
    position: relative;
}

.radio-circle::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.radio-label input[type="radio"]:checked + .radio-circle::before {
    opacity: 1;
}
