<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <TITLE>Liturgia de las horas</TITLE>
  <LINK href="../../../../css/mio.css" type=text/css rel=stylesheet>
</HEAD>

<BODY>
<a href="./"> <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z"/></svg> </a>
  <div align="right">
    <font color="#CC9933">
      tama&ntilde;o: </font>
	<select id="tamanioFuente" onchange="document.getElementById('cuerpo').style.fontSize = this.value + 'em';">
	  <option value="1.1">Pequeño</option>
	  <option value="1.3">Mediano</option>
	  <option value="1.5">Grande</option>
	</select>
  </div>
  <div id="cuerpo" class="normal">
a.sunday:link {
  text-decoration: none;
  color: red;
}

a.sunday:visited {
  text-decoration: none;
  color: red;
}

a.sunday:hover {
  text-decoration: none;
  color: white;
}

a.sunday:active {
  text-decoration: none;
}

a.special:link {
  text-decoration: none;
  color: white;
}

a.special:visited {
  text-decoration: none;
  color: white;
}

a.special:hover {
  text-decoration: none;
  color: white;
}

a.special:active {
  text-decoration: none;
}

a.next_month:link {
  text-decoration: none;
  color: gray;
}

a.next_month:visited {
  text-decoration: none;
  color: gray;
}

a.next_month:hover {
  text-decoration: none;
  color: white;
}

a.next_month:active {
  text-decoration: none;
}

table, th, td {
  border: 1px solid black;
  font-size: 1.2em;
  text-align: center;
  background-color: #ccccc2;
  background-image: url('https://liturgiadelashoras.github.io/sync/images/fnd.jpg');
  background-repeat: repeat-x;
  visibility: visible;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}

.calendar {
  max-width: 344px;
  margin: 0px auto;
}

.calendar_day {
  width: 9%;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #ccccc2;
  background-image: url('https://liturgiadelashoras.github.io/sync/images/fnd.jpg');
  background-repeat: repeat-x;
  line-height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 3px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.calendar_day:hover {
  background-color: #808080;
  background-image: none;
  color: white;
  cursor: pointer;
}

.calendar_day_header {
  width: 9%;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #ccccc2;
  background-image: url('https://liturgiadelashoras.github.io/sync/images/fnd.jpg');
  background-repeat: repeat-x;
  line-height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 3px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.calendar_day_empty {
  width: 9%;
  line-height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 3px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

.calendar_day_special {
  background-color: #808080;
  background-image: none;
  box-shadow: 0px 2px 1px 0px black;
}

.months {
  text-align: center;
  width: 100%;
  overflow: hidden;
  color: red;
}

.month {
  color: red;
  cursor: pointer;
  display: inline-block;
  margin: 15px;
  text-decoration: underline;
}
