<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <TITLE>Liturgia de las horas</TITLE>
  <LINK href="../../../../css/mio.css" type=text/css rel=stylesheet>
</HEAD>

<BODY>
<a href="./"> <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z"/></svg> </a>
  <div align="right">
    <font color="#CC9933">
      tama&ntilde;o: </font>
	<select id="tamanioFuente" onchange="document.getElementById('cuerpo').style.fontSize = this.value + 'em';">
	  <option value="1.1">Pequeño</option>
	  <option value="1.3">Mediano</option>
	  <option value="1.5">Grande</option>
	</select>
  </div>
  <div id="cuerpo" class="normal">
table, th, td {
  border: 1px solid black;
  font-size: 1.2em;
  text-align: center;
  background-color: #ccccc2;
  background-image: url('https://liturgiadelashoras.github.io/sync/images/fnd.jpg');
  background-repeat: repeat-x;
  visibility: visible;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}

.titulo {
  border: 1px solid black;
  color: #ffffff;
  font-size: 1.2em;
  background-color: #00bbff;
  background-image: none;
  border: none;
  visibility: visible;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
}

.normal {
  font-family: Verdana, Arial
}
