body {
	margin: 5px auto;
	padding:0;
	border:0;
	width:100%;
	background:#fff;
	min-width:500px;    	
	max-width:1000px;    	
	font-size:13px;
        font-family: Arial,Helvetica,sans-serif;
        line-height:18px;
}

a {text-decoration:none;color: #369}
a:hover {	color:#fff;	background:#369;	text-decoration:none;}

#encab2 p {text-align:left;text-indent:0px;clear:both;padding:2px 30px;}
#encab2 p.title {text-align:center;padding-top:12px;}

#header {
	clear:both;
	float:left;
	width:100%; 
	border-bottom:1px solid #666;
	
}

img {border:0 none}

#header div {
padding:10px 40px;
text-align:left;
font-size:20px;
color:#fff;
background:#056;
line-height:24px;
}

/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #666;
}
#footer div {
	padding:10px;
	text-align:center;
	
} 

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
	background:#eee;		/* right column background colour */
}

/* mis medidas: 67% 33%   (63% 29% padding: 2 2%   4% 0)  */
.rightmenu .colleft {
	right:33%;			/* right column width */
	background:#fff;		/* left column background colour */
}
.rightmenu .col1 {
	width:63%;			/* left column content width (left column width minus left and right padding) */
	left:35%;			/* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
	width:29%;			/* right column content width (right column width minus left and right padding) */
	left:41%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
	
}

#menu {    font-size:13px;}
#menu p {  margin:5px 0px 5px;line-height:14px;padding:2px 2px;}
#menu a {  font-weight:bold;}

table td {font-size:13px;padding:2px 10px;vertical-align: top; }

div.q {margin-top:20px}
div.qq {background:#eef;padding:4px 4px 5px 10px;color:#222;font-weight:normal;
border-top:1px solid #77a;border-bottom:1px solid #77a;}
div.qq  .num {font-weight:bold;font-size:16px}
div.qq  .num a {text-decoration:none;color:#339}
div.qq  .num a:hover {background-color:#ffc;}
div.qa p { text-indent:18px;margin-top:10px;margin-bottom: 5px;}
div#ap {}
div#ap  span.ap1 {font-weight:bold;}
div#ap  span.ap2 {font-weight:bold;}

p.current {font-weight:bold;color:#030;background:#ccf;}
p.current a {color:#060; text-decoration:none; }
