body {background-color:#ddd;text-align:center;font-family: 
Arial, sans-serif;font-size:14px;margin:0px;padding:0px; 
line-height:135%;
}

div.main  {background-color:#fff;
width:596px;
color:#222;
margin-left:auto;margin-right:auto;text-align:left;
padding:16px; border-right:2px solid #400;border-left:2px solid #400;}

div.nav {font-size:130%;color:#450;
width:520;margin-left:30px;padding:8px 0px;
text-align:center; line-height:140%;margin:5px;
}



div.ev {
font-style:normal;
font-size:90%;
color:#520;
width:90%;
margin:2px auto 15px;
text-align:left;
}

div.pat {
font-weight:bold;color:#042;text-align:center;
font-size:90%;padding:3px 30px;margin-top:5px;
background:#eee;
}


span.a17 {}
span.ff {font-weight:normal;font-style:italic; }


div.com {padding:0px 10px 5px;}	
div.com2 {padding:0px 10px 5px;}	
div.titnota {font-weight:bold;color:#420;text-align:center;font-size:88%;padding:20px 20px 0px}
div.nota {padding:0px 10px;font-size:80%;padding:5px;}
span.i02 {font-weight:bold;font-style:italic;color:#653;}
span.notaref {vertical-align:top;font-size:75%;font-style:italic}
span.griego {font-family:Symbol;font-size:115%;}

a {text-decoration:none}